
<article class="card">

<a href="/posts/{{id}}">
    <div class="card-header flex-row justify-space-between align-center">

        <h1>{{title}}</h1>
        <h4 >Posted by {{user.username}} on {{format_date created_at}}</h4>
    
    </div>
    
    <div class="card-body">
        <h3>{{content}}</h3>
    </div>
</a>
</article>